.TripCard {
  display: block;
  // box-shadow: 5px 5px black;
  border: 5px black;
}

.card-img {
  width: 200px;
  height: 200px;
}

.btn-danger{background-color:#F6AA93;color: #FFF;}

.btn-info {background-color: #92a8d1; color: #FFF }
