.Friends {
  .card {
    margin: 15px 0;
    .profile-img {
      height: 50px;
      border-radius: 50%;
    }
    .card-header-friends{
      background:#f7786b;
    }
    .card-header-pending {
      background: #92a8d1;
    }
    .card-header-undiscovered {
      background: #affaf0
    }
    .btn-primary {background-color: #0aa1f8; color: #FFF }

    .double-wide {
      display: inline;
    }
  }
}

